#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  background-image: url('./assets/images/background_faucet.png');
  height: 100px;
}

.input-field{
  border: 1px solid rgb(151, 150, 150); /* Light grey border by default */
  outline: none; /* Removes the default focus outline */
  padding: 4px 8px; /* Adds some padding inside the input fields */
  margin: 10px 0; /* Adds some margin around each input field for spacing */
}

.input-field:focus{
  border: 1.5px solid rgb(58, 57, 57); /* Light grey border by default */
  outline: none; /* Removes the default focus outline */
  padding: 4px 8px; /* Adds some padding inside the input fields */
  margin: 10px 0; /* Adds some margin around each input field for spacing */
}

.submit-create{
  display: flex;
  /* border: 1px black solid; */
  justify-content: center;
  align-content: center;
}

.submit-create button{
  margin:  0 10px 0 0;
  height: 30px;
  padding: 0 15px 0 15px;
}
.signup{
  margin: 2rem 0 0 0;
}

